services:
    service:
        build:
          context: .
          dockerfile: Dockerfile.dev
        ports:
          - 8001:80
        environment:
          SERVER_PORT: 80
        networks:
          - sail 
        volumes:
          - ./src:/app/src
          - .env:/app/.env
          - ./pom.xml:/app/pom.xml
          - ./target:/app/target
    pgsql:
        image: 'postgres:17'
        ports:
            - "5432:5432"
        environment:
            PGPASSWORD: root
            POSTGRES_DB: inventory
            POSTGRES_USER: root
            POSTGRES_PASSWORD: root
        volumes:
            - 'pgsql:/var/lib/postgresql/data'
        networks:
            - sail
networks:
    sail:
        external: true
volumes:
    pgsql:
        driver: local
