SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

KAFKA_HOST=example:9092
KAFKA_USER=admin
KAFKA_PASS=12345
KAFKA_TRUSTSTORE_PASSWORD=changeit

AUTH_URI=http://localhost:8080/realms/e-commerce
